---
import Layout from "../../../layouts/Layout.astro";
import Toggle from "../../../components/Toggle.astro";
import UserHeader from "../../../components/UserHeader.astro";

const experience = [
  {
    job_title: "Senior DX Engineer",
    job_href: "/u/danielvaughn/j/dx_eng_nem",
    company: "NextEra Mobility",
    company_href: "https://www.nexteraenergyresources.com",
    dates: "Oct 2022 - Present",
    skills: ["Python", "Bash", "CircleCI", "Helm", "Kubernetes", "TypeScript"],
    highlights: [
      {
        link: "/u/danielvaughn/h/str_logger",
        description:
          "Built a structured logger to improve incident response and resolution",
        skills: ["Python"],
      },
      {
        link: "/u/danielvaughn/h/audits",
        description:
          "Introduced audits and other mechanisms to improve platform security",
        skills: ["Python", "Bash"],
      },
      {
        link: "/u/danielvaughn/h/deployment_latency",
        description: "Increased deployment velocity from weekly to daily",
        skills: ["CircleCI", "Helm", "Kubernetes"],
      },
      {
        link: "/u/danielvaughn/h/synthetic_monitoring",
        description:
          "Implemented synthetic monitoring across all products to help satisfy our 99.5% uptime SLA",
        skills: ["TypeScript"],
      },
    ],
  },
  {
    job_title: "Founding Engineer",
    job_href: "/u/danielvaughn/j/fe_rt",
    company: "RealTrade",
    company_href: "https://realtrade.io",
    dates: "June 2021 - Sep 2022",
    skills: [
      "TypeScript",
      "React",
      "Product Development",
      "Business Development",
    ],
    highlights: [
      {
        link: "",
        description:
          "Built a performant real estate search experience with real-time chat features",
        skills: ["TypeScript", "React"],
      },
      {
        link: "",
        description:
          "Built a replication pipeline for real estate listing data",
        skills: ["TypeScript", "Python"],
      },
      {
        link: "",
        description:
          "Designed and implemented dynamically rendered marketing images for real estate agents",
        skills: ["Typescript"],
      },
      {
        link: "",
        description:
          "Listened to customer feedback and iterated on product features, achieving 20% MoM user growth",
        skills: ["Product Development"],
      },
      {
        link: "",
        description:
          "Worked with a board of advisors to develop the business model for the company",
        skills: ["Business Development"],
      },
    ],
  },
  {
    job_title: "Senior Fullstack Engineer",
    job_href: "/u/danielvaughn/j/sfe_hsi",
    company: "HUMAN Security Inc",
    company_href: "https://www.humansecurity.com",
    dates: "Dec 2016 - May 2021",
    skills: [
      "JavaScript",
      "Angular",
      "React",
      "D3",
      "NodeJS",
      "Druid",
      "Mongo",
      "Engineering Management",
    ],
    highlights: [
      {
        link: "",
        description: "Led the dashboard team as EM",
        skills: ["Engineering Management"],
      },
      {
        link: "",
        description: "Built and maintained a dashboard for fraud analysis",
        skills: ["JavaScript", "Angular", "React", "Mongo"],
      },
      {
        link: "",
        description:
          "Worked with UX designers to implement scheduled and ad hoc customer reporting",
        skills: ["JavaScript", "React"],
      },
      {
        link: "",
        description:
          "Created a data visualization framework to improve rendering performance by 300%",
        skills: ["JavaScript", "D3"],
      },
      {
        link: "",
        description:
          "Collaborated with data engineers to achieve a p90 response time of 3s for all customer queries",
        skills: ["NodeJS", "Druid"],
      },
    ],
  },
  {
    job_title: "Fullstack Engineer",
    job_href: "/u/danielvaughn/j/fe_ti",
    company: "TradeIt",
    company_href: "https://trade.it",
    dates: "May 2015 - Nov 2016",
    skills: ["HTML", "CSS", "JavaScript", "Objective-C", "Groovy", "SQL"],
    highlights: [
      {
        link: "",
        description: "Designed and built the TradeIt marketing website",
        skills: ["HTML", "CSS", "JavaScript"],
      },
      {
        link: "",
        description:
          "Built a JavaScript SDK to embed and enable stock trading on any website",
        skills: ["JavaScript"],
      },
      {
        link: "",
        description:
          "Built an automated backend to facilitate broker-agnostic financial trading",
        skills: ["Groovy", "SQL"],
      },
      {
        link: "",
        description:
          "Developed an iOS SDK to enable and embed stock trading on native apps",
        skills: ["Objective-C"],
      },
    ],
  },
  {
    job_title: "Frontend Developer",
    job_href: "/u/danielvaughn/j/fe_k",
    company: "Kapitall",
    company_href: "https://www.linkedin.com/company/kapitall",
    dates: "Mar 2014 - Apr 2015",
    skills: ["HTML", "CSS", "JavaScript", "Groovy", "SQL"],
    highlights: [
      {
        link: "",
        description:
          "Developed and maintained drag-and-drop stock trading tools",
        skills: ["HTML", "CSS", "JavaScript"],
      },
      {
        link: "",
        description:
          "Built real-time stock trading features for the Kapitall backend",
        skills: ["Groovy", "SQL"],
      },
    ],
  },
  {
    job_title: "Junior Frontend Developer",
    job_href: "/u/danielvaughn/j/jd_twdc",
    company: "The Walt Disney Company",
    company_href: "https://www.disney.com",
    dates: "Jan 2013 - Feb 2014",
    skills: ["HTML", "CSS", "JavaScript"],
    highlights: [
      {
        link: "",
        description: "Built internal tracking tools for content moderation",
        skills: ["HTML", "CSS", "JavaScript"],
      },
    ],
  },
];
---

<Layout title="Welcome to Astro.">
  <UserHeader />
  <main class="max-w-2xl mx-auto px-5 pb-12 md:px-0" data-hide-skills>
    <section class="mt-8">
      <header
        class="flex items-center justify-between border-black border-b-2 pb-1"
      >
        <h2 class="uppercase font-bold tracking-wide">Experience</h2>

        <span class="flex justify-end items-center gap-x-3">
          <Toggle id="highlights" label="Achievements" initial={true} />
          <Toggle id="skills" label="Skills" />
        </span>
      </header>

      {
        experience.map((job) => {
          const jobSkillList = job.skills.join(", ");

          return (
            <article class="mt-4">
              <header class="font-bold sm:flex flex-wrap items-baseline justify-between">
                <span class="flex items-baseline">
                  <h3 class="whitespace-nowrap">
                    {job.job_href !== "" && (
                      <a
                        href={job.job_href}
                        class="hover:text-blue-700 hover:underline dark:hover:text-blue-500"
                      >
                        {job.job_title}
                      </a>
                    )}
                    {job.job_href === "" && job.job_title}
                  </h3>
                  <span class="px-1 text-neutral-400">|</span>
                  {job.company_href !== "" && (
                    <a
                      class="whitespace-nowrap cursor-pointer hover:text-blue-700 hover:underline dark:hover:text-blue-500"
                      href={job.company_href}
                      target="_blank"
                    >
                      {job.company}
                    </a>
                  )}
                  {job.company_href === "" && (
                    <span class="whitespace-nowrap">{job.company}</span>
                  )}
                </span>
                <span class="whitespace-nowrap">{job.dates}</span>
              </header>
              <span class="skills flex items-baseline text-sm text-neutral-600 italic mb-1">
                ({jobSkillList})
              </span>
              <ul class="list-disc pl-6 mt-1 highlights leading-tight">
                {job.highlights.map((achievement) => {
                  const skillList = achievement.skills.join(", ");

                  if (achievement.link) {
                    return (
                      <li class="marker:text-blue-600 my-1">
                        <a
                          href={achievement.link}
                          class="hover:text-blue-700 hover:underline"
                        >
                          {achievement.description}
                        </a>
                        {skillList !== "" && (
                          <span class="skills flex items-baseline text-sm text-neutral-600 italic mb-1">
                            ({skillList})
                          </span>
                        )}
                      </li>
                    );
                  }

                  return (
                    <li class="my-1">
                      {achievement.description}
                      {skillList !== "" && (
                        <span class="skills flex items-baseline text-sm text-neutral-600 italic mb-1">
                          ({skillList})
                        </span>
                      )}
                    </li>
                  );
                })}
              </ul>
            </article>
          );
        })
      }
    </section>

    <section class="mt-8">
      <h2 class="uppercase font-bold border-black border-b-2 tracking-wide">
        Education
      </h2>

      <article
        class="mt-5 font-bold flex flex-wrap items-baseline justify-between"
      >
        <span class="flex items-baseline">
          <span class="whitespace-nowrap">Bachelor of Fine Arts</span>
          <span class="px-1 text-neutral-400">|</span>
          <h3 class="whitespace-nowrap">Memphis College of Art</h3>
        </span>
        <span class="whitespace-nowrap">Sept 2004 - Sept 2008</span>
      </article>
    </section>
  </main>
</Layout>

<style>
  main[data-hide-skills] .skills {
    display: none;
  }

  main[data-hide-highlights] .highlights {
    display: none;
  }
</style>

<script>
  const main = document.querySelector("main")!;

  function listenToToggle(toggleId: string) {
    const button = document.getElementById(toggleId);

    button?.addEventListener("click", (e) => {
      if (main.hasAttribute(`data-hide-${toggleId}`)) {
        button.classList.add("enabled");
        main.removeAttribute(`data-hide-${toggleId}`);
      } else {
        button.classList.remove("enabled");
        main.setAttribute(`data-hide-${toggleId}`, "true");
      }
    });
  }

  listenToToggle("skills");
  listenToToggle("highlights");
</script>
