---
interface Props {
  bio: Bio;
}

const { bio } = Astro.props;
---

<header class="text-center mt-8 max-w-3xl mx-auto px-5 md:px-0">
  <h1 class="text-3xl font-bold tracking-wide">
    <a
      href="/resume/danielvaughn"
      class="hover:text-blue-700 hover:underline dark:hover:text-blue-500 dark:text-neutral-100"
    >
      {bio.name}
    </a>
  </h1>
  <nav>
    <ul class="flex items-baseline justify-center flex-wrap">
      <li>
        <a
          class="text-blue-700 dark:text-blue-500 hover:underline whitespace-nowrap"
          href="tel:+19015819998"
        >
          {bio.phone}
        </a>
      </li>
      <li>
        <a
          class="text-blue-700 dark:text-blue-500 hover:underline whitespace-nowrap"
          href="mailto:danielbvaughn@gmail.com"
        >
          {bio.email}
        </a>
      </li>
      <li>
        <a
          class="text-blue-700 dark:text-blue-500 hover:underline whitespace-nowrap"
          href={bio.linkedin}
        >
          {bio.linkedin.replace("https://www.", "")}
        </a>
      </li>
      <li>
        <a
          class="text-blue-700 dark:text-blue-500 hover:underline whitespace-nowrap"
          href={bio.github}
        >
          {bio.github.replace("https://", "")}
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header nav ul li:after {
    content: "•";
    @apply px-1 text-neutral-300;
  }

  header nav ul li:last-of-type:after {
    content: "";
  }
</style>
